mat-slide-toggle {
  display: flex;
  justify-content: space-between;
}

mat-card-title {
  padding-bottom: 20px;
}

mat-card {
  padding: 1rem;

  form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}

.container {
  margin: 1rem;
  border-radius: 2rem;
}

.button {
  padding-top: 1rem;
}

.error {
  margin-top: -22px;
  color: red;
  font-weight: 500;
  padding-bottom: 1rem;
}
