<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Product List</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <div class="header">
        <h1 class="mt-2">My Products</h1>
        <button class="createCon" (click)="createProduct()" mat-raised-button color="accent">
          <span>Create Product</span>
          <mat-icon fontIcon="add"></mat-icon>
        </button>
        <button (click)="createProduct()" class="addIcon" mat-mini-fab color="accent" aria-label="Add Product">
          <mat-icon fontIcon="add"></mat-icon>
        </button>
      </div>

      <mat-form-field class="input-group">
        <input matInput placeholder="Search Product" (input)="filterData($event)" />
        <mat-icon fontIcon="search" matSuffix></mat-icon>
      </mat-form-field>

      <div class="table-responsive text-center">
        <ng-container *ngIf="getFilteredProductsLength(); else noProducts">
          <div class="table-container">
            <table mat-table [dataSource]="filteredProductSignal" matSort class="table mat-elevation-z8">
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let product">{{ product.id }}</td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let product">{{ product.name }}</td>
              </ng-container>

              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
                <td mat-cell *matCellDef="let product">{{ product.price }}</td>
              </ng-container>

              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Category
                </th>
                <td mat-cell *matCellDef="let product">
                  {{ product.category }}
                </td>
              </ng-container>

              <ng-container matColumnDef="inStock">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  In Stock
                </th>
                <td [ngStyle]="{'color': product.inStock == true ? 'green': 'red'}" mat-cell *matCellDef="let product">
                  {{ product.inStock == true ? 'In Stock' : 'Out of Stock' }}
                </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let product">
                  <button style="margin-right: 10px" mat-flat-button color="primary"
                    (click)="updateProduct(product.id)">
                    Edit
                  </button>
                  <button mat-flat-button color="warn" (click)="deleteProduct(product.id)">
                    Delete
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </ng-container>

        <ng-template #noProducts>
          <p style="text-align: center">
            No products available. Create one to get started!
          </p>
        </ng-template>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
